<div class="subastasDestacadasMain">
	<div class="subastasDestacadasLarge">
		<img class="contenedorImagenPrinSubasta" src="images/ecosport-index.jpg" />
		<div>
			<div class="modelo"><b>Ecosport</b> 2016</div>
			<div class="pujaInicial">PRECIO DE INICIO $150,000 MX</div>
			<div class="descripcionSubasta">
				<div class="fechaSubasta">15 de Junio</div>
				<div class="tipoSubasta">SUBASTA DINÁMICA</div>
			</div>
		</div>
	</div>
	<div class="subastasDestacadasSmallLote">
		<img class="contenedorImagenPrinSubasta" src="images/imgInx002.jpg" />
		<div>
			<div class="tituloSubasta">SUBASTA BIMBO</div>
			<div class="loteSubasta">LOTE 12</div>
			<div class="modelo">Ford Transit Van</div>
			<div class="descripcion">Capacidad de carga 1,777 kg</div>
			<div class="verDetalle"><a href="#">VER DETALLE ></a></div>
		</div>
	</div>
	<div class="subastasDestacadasSmallAnuncio">
		<img class="contenedorImagenPrinSubasta" src="images/imgInx003.jpg" />
		<div>
			<div class="descripcionSubasta2"></div>
			<div class="txtSubastaAbierta">
				<div class="tituloSubasta">SUBASTA ABIERTA</div>
				<div class="fechaSubasta">HASTA EL 10 de JUNIO</div>
				<div class="loteSubasta">LOTE 22</div>
			    <div class="verDetalle"><a href="#">VER DETALLE ></a></div>
		    </div>
	    </div>
	</div>
	
    <div class="subastasDestacadasBottom">
        <img src="images/participarSubastas.jpg" />
    </div>
    <div class="subastasDestacadasBottom">
	   <img src="images/catalogoEnlinea.jpg"/>
	</div>
    <div class="subastasDestacadasBottom">
        <label>PROXIMAS</label>
        <label> SUBASTAS</label>
        <img src="images/calendarioSubastas.jpg" />
    </div>
</div>