<div class="mbLeft">
	<!-- contenedor de la imagen principal de la galeria de imagenes -->
	
	<div><img id="imgPrincipal" alt="Imagen no disponible principal" attr-idx="1" src="images/img001.jpg"/></div>
	
	<!-- contenedor de los thumbs del resto de las imagenes de la galeria -->
	<div id="imgSnapshots">
		<div><img alt="Imagen no disponible 1" attr-idx="1" src="images/img002.jpg"/></div>
		<div><img alt="Imagen no disponible 2" attr-idx="2" src="images/img003.jpg"/></div>
		<div><img alt="Imagen no disponible 3" attr-idx="3" src="images/img004.jpg"/></div>
		<div><img alt="Imagen no disponible 4" attr-idx="4" src="images/img005.jpg"/></div>
		<div><img alt="Imagen no disponible 5" attr-idx="5" src="images/img006.jpg"/></div>
		<div><img alt="Imagen no disponible 6" attr-idx="6" src="images/img007.jpg"/></div>
		<div><img alt="Imagen no disponible 7" attr-idx="7" src="images/img008.jpg"/></div>
		<div><img alt="Imagen no disponible 8" attr-idx="8" src="images/img009.jpg"/></div>
		<div><img alt="Imagen no disponible 9" attr-idx="9" src="images/img010.jpg"/></div>
	</div>
	<!-- contenedor del CATPALOGO EN LÍNEA -->
	<div class="lftCtlgnln">
		<img src="images/catalogoEnlinea.jpg" alt="Imagen no disponible"/>
	</div>
	<!-- contenedor de "¿como puedo participar en las subastas?" -->
	<div class="lftCtprtSbsts">
		<img src="images/participarSubastas.jpg" alt="Imagen no disponible"/>
	</div>
	<!-- contenedor de CALENDARIO PRÓXIMAS SUBASTAS -->
	<div class="lftCtprxSubsts">
		<label>PROXIMAS</label>
        <label> SUBASTAS</label>
        <img src="images/calendarioSubastas.jpg" alt="Imagen no disponible"/>
	</div>
</div>
<!-- contenedor de todos los elementos "principales" de ésta pagina -->
<div class="mbRight">
	<!-- contenedor del encabezado del anuncio -->
	<div class="mbRightMainT">
		<h1>AUDI A6 1.8T 1999</h1>
		<div class="numRef">
			<label>NUM DE REFERENCIA</label>
			<label>6359</label>
		</div>
	</div>
	<!-- contenedor de los datos generales del anuncio -->
	<div class="mbRightMainB">
		<!-- contenedor de fondo degradado gris; botón de "VOLVER" -->
		<div class="grayGradientHeader"><label>VOLVER A LA SUBASTA</label></div>
		<!-- contenedor de datos generales del anuncio IZQ -->
		<div class="adInfo">
			<div>
				<label>VEH&Iacute;CULO:</label>
				<label>Con daños</label>
			</div>
			<div>
				<label>MARCA:</label>
				<label>Audi</label>
			</div>
			<div>
				<label>MODELO:</label>
				<label>A6 1.8T</label>
			</div>
			<div>
				<label>COMBUSTIBLE:</label>
				<label>Gasolina</label>
			</div>
			<div>
				<label>KIL&Oacute;METROS:</label>
				<label>30,000 Km</label>
			</div>
			<div>
				<label>UBICACI&Oacute;N:</label>
				<label>Madrid</label>
			</div>				
		</div>
		<!-- contenedor de datos generales del anuncio DER -->
		<div class="adInfo">
			<div>
				<label>FECHA PRIMERA MATRICULACI&Oacute;N:</label>
				<label>04/1999</label>
			</div>
			<div>
				<label>MATR&Iacute;CULA:</label>
				<label>M****XK</label>
			</div>
			<div>
				<label>NÚMERO DE BASTIDOR:</label>
				<label>*****</label>
			</div>
			<div>
				<label>COLOR EXTERIOR:</label>
				<label>Azul</label>
			</div>
			<div>
				<label>COLOR INTERIOR:</label>
				<label>Gris</label>
			</div>
			<div>
				<label>LOCALIDAD:</label>
				<label>Madrid</label>
			</div>						
		</div>
		<!-- contenedor de botón de "PUJAR AHORA"; contenedor de información de la subasta -->
		<div>
			<button type="button" class="btnPujar">PUJAR AHORA</button>
			<div class="infoSubasta">
				<div>
					<label>SUBASTA:</label>
					<label><span>Finaliza en</span> <span> 3d 17h 33m 4s</span></label>
				</div>
				<div>
					<label>UBICACI&Oacute;N:</label>
					<label>Madrid</label>
				</div>	
			</div>
		</div>
	</div>
	<!-- contenedor de "1. DATOS DEL VEHICULO" -->
	<div>
		<h3>1. DATOS DEL VEH&Iacute;CULO</h3>
		<h4>DOCUMENTACI&Oacute;N DEL VEH&Iacute;CULO:</h4>
		<div>
			<div>
				<label>FICHA T&Eacute;CNICA:</label>
				<label>Si</label>
			</div>
			<div>
				<label>IMPUESTO MUNICIPAL PAGADO:</label>
				<label>Si</label>
			</div>
			<div>
				<label>LIBRO DE REVISIONES:</label>
				<label>Desconocido</label>
			</div>					
		</div>
		<div>
			<div>
				<label>GARANT&Iacute;A EN VIGOR:</label>
				<label>No</label>
			</div>
			<div>
				<label>ITV EN VIGOR:</label>
				<label>No</label>
			</div>
			<div>
				<label>PERMISO DE CIRCULACI&Oacute;N:</label>
				<label>Si</label>
			</div>					
		</div>
		<h4>INFORMACI&Oacute;N GENERAL:</h4>
		<div>
			<div>
				<label>CAMBIO:</label>
				<label>Manual</label>
			</div>
			<div>
				<label>PLAZAS:</label>
				<label>5</label>
			</div>
			<div>
				<label>PUERTAS:</label>
				<label>4/5</label>
			</div>
			<div>
				<label>TRANSMISI&Oacute;N:</label>
				<label>Tracci&oacute;n delantera</label>
			</div>					
		</div>
		<div>
			<div>
				<label>CATEGOR&Iacute;A:</label>
				<label>Sed&aacute;n</label>
			</div>
			<div>
				<label>POTENCIA (CV):</label>
				<label>150</label>
			</div>
			<div>
				<label>TAPICER&Iacute;A:</label>
				<label>Tela</label>
			</div>
			<div>
				<label>VELOCIDADES:</label>
				<label>5</label>
			</div>					
		</div>
	</div>
	<!-- contenedor de "2. EQUIPAMIENTO DEL VEHICULO" -->
	<div>
		<h3>2. EQUIPAMIENTO DEL VEH&Iacute;CULO</h3>
		<H4>EQUIPAMIENTO ADICIONAL:</H4>
		<label>ABS, Airbag del acompañante, Airbag del conductor, Airbags laterales, Cierre centalizado, Dirección asistida, Elevalunas electricos, Faros antitiniebla, inmovilizador, Llantas de aleación Ordenarod de abordo, Radio/CD</label>
		<H4>EQUIPAMIENTO GENERAL:</H4>
		<div>
			<label>LLAVES:</label>
			<label>1</label>
		</div>
		<div>
			<label>TIPO DE CLIMATIZACI&Oacute;N:</label>
			<label>Climatizador</label>
		</div>
	</div>
	<!-- contenedor de "3. ESTADO DEL VEHICULO" -->
	<div>
		<h3>3. ESTADO DEL VEH&Iacute;CULO</h3>
		
		<H4>DA&Ntilde;OS CARROCER&Iacute;A:</H4>
		<div>
			<label>Golpe trasero derecho</label>
		</div>
		<H4>DA&Ntilde;OS GENERALES:</H4>
		<div>
			<label>CAJA DE CAMBIOS:</label>
			<label>Ok (funcionamiento normal)</label>
		</div>
		<div>
			<label>MOTOR:</label>
			<label>Aparentemente ok (pero no arranca)</label>
		</div>
	</div>
	<!-- contenedor de "4. DESCRIPCIÓN DEL VEHICULO" -->
	<div>
		<h3>4. DESCRIPCI&Oacute;N DEL VEH&Iacute;CULO</h3>
		<H4>M&Aacute;S INFORMACI&Oacute;N:</H4>
		<h5>OBSERVACIONES:</h5>
		<Label>El vehiculo presenta los daños que se observan en las imagenes tanto de carroceria como de pintura. Presenta falta de turbo y da tirones, sin verificar alcance de daños.</Label>
	</div>
</div>
<div id="modal" style="display:none;">
	
	<div id="modalGaleria">
		<img id="modalImgGaleria" alt="mogal img galeria" />
	</div>
	<div id="modalSnapshots"></div>
		
</div>
		






