<div id="divBusqueda">
    <div id="searchBar">
        <input type="text" id="searchBox" />
        <div class="btnSearch"><i class="fa fa-search" aria-hidden="true"></i></div>
    </div>
    <div id="searchBody">

    </div>
</div>
<div id="divServicios">

    <div id="divOfertas">
        <div>
            <img src="images/mainOffer001.jpg"/>
        </div>
    </div>
    <div id="divForInfo">
        <h2>Tu Informaci&oacute;n:</h2>
        <div>
            <div>Terminacion de tu placa:</div>
            <label>6</label>
            <div class="colorPlaca"></div>
            <h4>Meses de verificaciòn:</h4>
            <h5>Ene-Feb y Jun-Jul</h5>
        </div>
    </div>
    <div id="divOffers">
        <img src="images/participarSubastas.jpg"/>
    </div>
</div>