
<div>
	<div class="divRegistro">
     <label for="txtFiltro" >Texto:</label>
        <input type="text" id="txtFiltro" name="txtFiltro">
        <!-- <button id="btnAgregarCorreo">Agregar</button> -->
    </div>

    <div class="divRegistro">
         <label for="txtFechaInicio" >Fecha inicial:</label>
        <input type="text" id="txtFechaInicio" name="txtFechaInicio" />
    </div>
    <div class="divRegistro">
         <label for="txtFechaFin" >Fecha final:</label>
        <input type="text" id="txtFechaFin" name="txtFechaFin" />
    </div>

    <div id="nolog">
        <button id="btnFiltrar">Filtrar</button>
    </div>

</div>
<div id="grdMisVehiculos">
    <div>
        <div>Nombre</div>
		<div>Correo</div>
		<div>Marca</div>
		<div>Modelo</div>
		<div>Tipo</div>
		<div>Detalle</div>
    </div>
</div>

<div>


<div id="detalleCotizaciones" title="Agregar Auto">
    <div class="divRegistro">
        <label for="cbMarcaAuto" >Marca:</label>
        <select id="cbMarcaAuto" name="cbMarcaAuto" ></select>
    </div>
    <div class="divRegistro">
        <label for="cbModeloAuto" >Modelo:</label>
        <select id="cbModeloAuto" name="cbModeloAuto" >
            <option value="0">== Seleccione ==</option>
        </select>
    </div>
    <div class="divRegistro">
        <label for="numdePlaca" >Placas:</label>
        <input type="text" name="numdePlaca" id="numdePlaca" />
    </div>
    <div class="divRegistro">
		<div id="btnGuardaAuto" class="fa fa-floppy-o">
                Nuevo
            </div>
        </div>
    </div>