<div>
	<div>
		
		<div>
			<div>EMPRESA:</div>
			<select id="cmbEmpresa" ></select>
		</div>
		<div>	
			<div>VIGENCIA:</div>
			<div>Del: <input type="text" id="dp1"/> al: <input type="text" id="dp2"></div>
		</div>
	</div>
	<div>
		<div>Caracter&iacute;sticas de la subasta</div>
	</div>
	
	<div>
		<input type="radio" name="tipoOferta" value="1" checked /> Oferta &uacute;nica
		<input type="radio" name="tipoOferta" value="2" /> Multi oferta
	</div>
	<div>
		
		<div>
			<input type="checkbox" id="chkMulti" />
			<div>Multi Empresa</div>
		</div>
		<div>	
		    <div class="toggles">
      			
    		</div>
    		<div>	
				<div>Valor m&iacute;nimo de incremento:</div>
				<div>$<input type="text" value="$" id="txtInc"/></div>
			</div>
		</div>
	</div>
</div>
<div>VEH&Iacute;CULOS EN SUBASTA</div>

<div id="grdVehiculos">
	
	<div>
		<div></div>
		<div></div>
		<div>AUTOS</div>
		<div>UBICACI&Oacute;N</div>
		<div>KIL&Oacute;METROS</div>
		<div>FOTOS</div>
		<div>SALIDA</div>
	</div>
</div>
<div>
	<div>Guardar</div>
	<div>Publicar</div>
</div>