
<div class="divLogin">
            <form class="floatingWindow">
                <div class="logoCar"></div>
                <div class="logoLogin"></div>
                <div class="divRegistro">
                    <label for="mail">Correo electr&oacute;nico </label>
                    <input type="text" name="mail" id="loginMail" />
                </div>
                <div class="divRegistro">
                    <label for="password">Password</label>
                    <input type="password" name="password" id="loginPassword" />
                </div>
                <div class="divRegistro">
                    <label for="rememberme">Mantener sesión activa</label>
                    <input type="checkbox" name="rememberme" id="rememberme" />
                </div>
                <div class="divRegistro">
                    <div id="btnLogin">
                        Login
                    </div>
                </div>
            </form>
        </div>