<div class="divLogin">
    <form class="floatingWindow">
        <div class="logoCar"></div>
        <div class="logoLogin"></div>
        <div class="divRegistro login">
            <label for="mail">Correo electr&oacute;nico </label>
            <input type="text" name="mail" id="loginMail" />
        </div>
        <div class="divRegistro login">
            <label for="password">Password</label>
            <input type="password" name="password" id="loginPassword" />
        </div>
        <div class="divRegistro login">
            <div id="btnLogin">
                INGRESAR
            </div>
        </div>
            <!-- <label for="rememberme"><input type="checkbox" name="rememberme" id="rememberme" />Mantener sesión activa</label> -->
        <label class="switch">
          <input type="checkbox" name="rememberme" id="rememberme"/>
          <div class="slider round"></div>
        </label>
        <label for="rememberme">Mantener sesión activa</label>
        
    </form>
</div>