 <li class="col s4">
        <div class="col s12">
            <div class="card horizontal">
                <div class="card-stacked">
                    <div class="card-content">
                        <p style="width: 100%; text-align: center;">
                           #NOMBRESUBASTA# (#ESTATUSSUBASTA#)
                        </p>
                        <p>
                        &nbsp;
                        </p>
                        <p>
                           Tipo de subasta: #TIPOSUBASTAS# 
                        </p>
                        <p>
                           Oferta mínima: $#OFERTAMINIMA#
                        </p>
                    </div>
                    <div class="card-action" style="width: 100%; text-align: center;">
                        <a href="main.php?accion=subasta&id=#SUBASTAID#">OFERTAR</a>
                    </div>
                </div>
            </div>
        </div>
    </li>