
<div class="CotizacionServicios" id="CServicios">
	
	
	<div  id="divServicios">
		<h4>Servicios</h4>
		<div Id ="divLstServicios"></div>
	</div>
	
	<div id="divDetalleServicios"></div>
	
	<div id="divCotizacion">
		<div id="divListaCS"></div>
		<div>
		<label>Nombre:</label>
		<input type="text" name="cotizaNombre">
		</div>

		<div>
		<label>Correo:</label>
		<input type="text" name="cotizaCorreo">
		</div>

		<div>
		<label>Telefono:</label>
		<input type="text" name="cotizaTelefono">
		</div>

		<div>
		<label>Marca:</label>
		<input type="text" name="cotizaMarca">
		</div>

		<div>
		<label>Modelo:</label>
		<input type="text" name="cotizaModelo">
		</div>


		<div>
		<label>Tipo:</label>
		<input type="text" name="cotizaTipo">
		</div>
		<div>
		<button type="button" id="SolicitarCotizacion" >Enviar</button>
		</div>

		

	</div>
</div>