<div class="subastasDestacadasMain">
	 <div>Servicios</div>
	 <ul>
	 	<li class="submenuitem" name="mecanica">Mecánica automotríz.</li>
	 	<li class="submenuitem" name="estetica">Estética automotríz.</li>
	 	<li>Gestoría
	 		<ul>
	 			<li class="submenuitem" name="cambiopropietario">Cambio de propietario.</li>
	 			<li class="submenuitem" name="cambioplacas">Cambio de placas</li>
	 			<li class="submenuitem" name="verificacion">Verificación</li>
	 			<li class="submenuitem" name="tenencia">Pago de tenencia</li>

	 		</ul>
		</li>
		<li class="submenuitem" name="ventaautos">Venta de autos.</li>
		<li class="submenuitem" name="subasta">Subasta de autos.</li>
      </ul>
      <div>
      		<div class="serviciosInfo" name="mecanica">Mecánica automotríz contenido</div>
      		<div class="serviciosInfo" name="estetica">Estética automotríz contenido</div>
      		
      		<div class="serviciosInfo" name="cambiopropietario">Cambio de pripietario contenido</div>
      		<div class="serviciosInfo" name="cambioplacas">Cambio de placas contenido</div>
      		<div class="serviciosInfo" name="verificacion">Verificacion contenido</div>
      		<div class="serviciosInfo" name="tenencia">Tenencia contenido</div>
      		<div class="serviciosInfo" name="ventaautos">VEnta de autos contenido</div>
      		<div class="serviciosInfo" name="subasta">Subasta contenido</div>
      </div>

</div>