<h2>COTIZACIÓN DE SERVICIOS</h2>
<div class="CotizacionServicios" id="CServicios">

	<div  id="divServicios">
	<h2>Servicios</h2>
		<div Id ="divLstServicios">
			<!--<ul id ="lstServicios">
     		</ul>-->
		</div>
	</div>
	<div id="divDetalleServicios">
		<!--<ul id=DetalleServicio>
			
		</ul>-->


	</div>
	<div id="divCotizacion">
		<div id="divListaCS"></div>
		<div>
		<label>Nombre:</label>
		<input type="text" name="cotizaNombre">
		</div>

		<div>
		<label>Correo:</label>
		<input type="text" name="cotizaCorreo">
		</div>

		<div>
		<label>Telefono:</label>
		<input type="text" name="cotizaTelefono">
		</div>

		<div>
		<label>Marca:</label>
		<input type="text" name="cotizaMarca">
		</div>

		<div>
		<label>Modelo:</label>
		<input type="text" name="cotizaModelo">
		</div>


		<div>
		<label>Tipo:</label>
		<input type="text" name="cotizaTipo">
		</div>
		<div>
		<button type="button" id="SolicitarCotizacion" >Enviar</button>
		</div>

		

	</div>
</div>