<div id="divInfoSubasta">
    <div id="divHeadSubasta">
    	<div id="divTtlSubasta"></div>
    	<div id="divTipoSubasta"></div>
    	<div id="divIncremento">Incremento Mínimo #INCREMENTO#</div>
        <div id="divOfertasXUsuario">Ofertas: <span id="numOfertasXusuario">#OFERTASXUSUARIO#</span>  de #TOTALOFERTAS# </div>
        <div id="divGanadores">Máximo #AUTOSXUSUARIO# autos por usuario</div>
    </div>
    <div id="divContenidoSubasta"></div>
    <div id="modalPuja" class="modal">

    	<div class="divRegistro">
            <label for="txtOferta" >Oferta:</label>
            <input type="text" name="txtOferta" id="txtOferta" />
        </div>
        <div class="divRegistro">
            <button id="btnGuardarOferta" attr-subastaid="0" attr-idauto="0" onclick="GuardarOferta(this);">
                Guardar
            </button>
        </div>
    </div>
    <div id="modalOfertas" class="modal">
    	<div id="divOfertas"></div>
    </div>
</div>
<div id="divDetalleAuto" class="modal">
</div>