*{
	float:left;
	position:relative;
	display:block;
	margin:0;
	padding:0;
	box-sizing: border-box;
	font-family: 'open sans', sans-serif;
}
html,
body{
	height:100%;
	width:100%;
}
.mainContainer{
	height:inherit;
	width:inherit;
	overflow:auto;
}
.mainHeader{
	width:inherit;
}
	.mainHeader > div{
		width:inherit;
	}
	.mainHeader > div:nth-child(1){height: 80px;}
	.mainHeader > div:nth-child(2){height: 50px;},
	.mainHeader > div:nth-child(3){height: 50px;}
		.mainHeader > div:nth-child(1) > h1 {width: calc(100% - 160px);text-align:center;line-height:80px;}
		.mainHeader > div:nth-child(1) > div:nth-child(2),
		.mainHeader > div:nth-child(1) > div:nth-child(3) {width:80px;line-height:30px; text-align:center;vertical-align: text-bottom;}
		.mainHeader  > ul{
			height: inherit;
			width: 100%;
		}
			.mainHeader > ul > li:nth-child(1),
			.mainHeader > ul > li:nth-child(2),
			.mainHeader > ul > li:nth-child(3),
			.mainHeader > ul > li:nth-child(4),
			.mainHeader > ul > li:nth-child(5){height:40px;width:calc((100% - 80px) / 5);text-align:center;border-top:1px solid #B4B4B4;border-bottom:1px solid #B4B4B4;padding:5px 0;}
			.mainHeader > ul > li:nth-child(1) > label,
			.mainHeader > ul > li:nth-child(2) > label,
			.mainHeader > ul > li:nth-child(3) > label,
			.mainHeader > ul > li:nth-child(4) > label,
			.mainHeader > ul > li:nth-child(5) > label{border-right:1px solid #B4B4B4;line-height:30px;width: 100%;}
			.mainHeader > ul > li:nth-child(6),
			.mainHeader > ul > li:nth-child(7){height:40px;width: 40px}
			
		.mainHeader > div:nth-child(3) > label{float:right; clear:both;height: 25px;width:250px;border-left:1px dotted #B4B4B4;text-indent:5px;}
		
.mainBody{
	min-height: calc(100% - 180px);
	width:inherit;
}
	.mainBody > .mbLeft{float:inherit;height: 100%;width:300px;}
		.mainBody > .mbLeft > div {float:inherit;height: 300px;width:100%;}
	.mainBody > .mbRight{float:inherit;height: 100%;width:calc(100% - 300px);}
.mainFooter{
	height:140px;
	width:inherit;
	border-top:1px solid #B4B4B4;
}
.modalWindow{}
.btnTwitter,
.btnFacebook {
	background-position:center center;
	background-repeat:no-repeat;
	background-size:contain;
	border:none;
	padding:2px;
	float:inherit;
	display:inherit;
	height:40px;
	width:40px;
}
.btnTwitter{
	background-image:url("../images/logoTwitter.svg");
}
.btnFacebook{
	background-image:url("../images/logoFacebook.svg");
}
