<div id="divSubastaNombre" style="displa:none"></div>
<div class="divBotonera" >
	<div id="btnGuardaAuto" attr-subastaid="0" class="fa fa-floppy-o fa-2x"></div>
</div>
<div>
	<div class="divRegistro">
		<label for="cbMarcaAuto" >Marca:</label>
		<select id="cbMarcaAuto" name="cbMarcaAuto" ></select> 
	</div>
	<div class="divRegistro">
		<label for="cbModeloAuto" >Modelo:</label>
		<select id="cbModeloAuto" name="cbModeloAuto" ></select> 
	</div>
	<div class="divRegistro">
		<label for="cbMSubtipoAuto" >Subtipo:</label>
		<select id="cbMSubtipoAuto" name="cbMSubtipoAuto" ></select> 
	</div>
	<div class="divRegistro">
		<label for="cbAnioAuto" >Año:</label>
		<select id="cbAnioAuto" name="cbAnioAuto" ></select> 
	</div>
	<div class="divRegistro">
		<label for="cbKMAuto" >KM:</label>
		<input type="text" name="cbKMAuto" id="cbKMAuto" /> 
	</div>
	<div class="divRegistro">
		<label for="cbTipoTransmisionAuto" >Transmisión:</label>
		<select id="cbTipoTransmisionAuto" name="cbTipoTransmisionAuto" ></select> 
	</div>
	<div class="divRegistro">
		<label for="cbEstadoAuto" >Estado:</label>
		<select id="cbEstadoAuto" name="cbEstadoAuto" ></select> 
	</div>
	<div class="divRegistro">
		<label for="cbCiudadAuto" >Ciudad</label>
		<select name="cbCiudadAuto" id="cbCiudadAuto"></select>  
	</div>
	<div class="divRegistro">
	    <div class="col-xs-5">
	        <select name="from[]" id="cbFeaturesAutos" class="form-control" size="8" multiple="multiple">
	           
	        </select>
	    </div>
	    
	    <div class="col-xs-2">
	        <button type="button" id="multiselect_rightAll" class="btn btn-block"><i class="glyphicon glyphicon-forward"></i></button>
	        <button type="button" id="multiselect_rightSelected" class="btn btn-block"><i class="glyphicon glyphicon-chevron-right"></i></button>
	        <button type="button" id="multiselect_leftSelected" class="btn btn-block"><i class="glyphicon glyphicon-chevron-left"></i></button>
	        <button type="button" id="multiselect_leftAll" class="btn btn-block"><i class="glyphicon glyphicon-backward"></i></button>
	    </div>
	    
	    <div class="col-xs-5">
	        <select name="to[]" id="cbFeaturesAutos_to" class="form-control" size="8" multiple="multiple"></select>
	    </div>
	</div>

</div>
