<div class="row">
	<h4>Administrador Venta de Autos</h4>
	<form class="col s12">
		<div id="divSubastaNombre"></div>

		<div class="input-field col s12 m3">

			<select id="cbMarcaAuto" name="cbMarcaAuto" ></select>
			<label for="cbMarcaAuto" >Marca	:</label>
			<div id="btnAddMarca" operacion="marcas" title="Agregar Marca"  desc="Marca:" class="fa fa-plus-square-o"></div>
		</div>

		<div class="input-field col s12 m3">

			<select id="cbModeloAuto" name="cbModeloAuto" >
				<option value="0">== Seleccione ==</option>
			</select>
			<label for="cbModeloAuto" >Modelo:</label>
			<div id="btnAddModelo" operacion="modelos" title="Agregar Modelo" desc="Modelo:" class="fa fa-plus-square-o"></div>
		</div>

		<div class="input-field col s12 m3">

			<select id="cbColorAuto" name="cbColorAuto" ></select>
			<label for="cbColorAuto" >Color:</label>
			<div id="btnAddColor" operacion="colores" title="Agregar Color" desc="Color:" class="fa fa-plus-square-o"></div>
		</div>

		<div class="input-field col s12 m3">

			<select id="cbAnioAuto" name="cbAnioAuto" ></select>
			<label for="cbAnioAuto" >Año:</label>			
		</div>

		<div class="input-field col s12">

			<input type="text" name="cbKMAuto" id="cbKMAuto" />
			<label for="cbKMAuto" >KM:</label>
		</div>

		<div class="input-field col s12">

			<input type="text" name="precioAuto" id="precioAuto" />
			<label for="precioAuto" >Precio:</label>
		</div>

		<div class="input-field col s12">

			<select id="cbTipoTransmisionAuto" name="cbTipoTransmisionAuto" ></select>
			<label for="cbTipoTransmisionAuto" >Transmisión:</label>
		</div>

		<div class="input-field col s12">

			<select id="cbEstadoAuto" name="cbEstadoAuto" ></select>
			<label for="cbEstadoAuto" >Estado:</label>
		</div>

		<div class="input-field col s12">

			<select name="cbCiudadAuto" id="cbCiudadAuto">
				<option value="0">== Seleccione ==</option>
			</select>
			<label for="cbCiudadAuto" >Ciudad</label>
		</div>

		<div class="input-field col s12">

			<select id="cbFeaturesAutos" ></select>
			<label for="cbFeaturesAutos" class="chosen-select chosen-rtl" >Características</label>
			<div id="btnAddFeature" class="fa fa-plus-square-o"></div>
			<div id="btnAddCaracteristicas" operacion="features" title="Agregar Caracteristicas" desc="caracteristica:" class="fa fa-plus-square-o">
				Nueva
			</div>
			<div id="divFeatureContainer"></div>
		</div>

		<div class="input-field col s12">
			<label for="txtaDescripcionAuto" >Descripción:</label>
			<textarea id="txtaDescripcionAuto" maxlength="1000" ></textarea>
		</div>
		<div class="input-field col s12">
			<!-- label for="chkPublicadoAutos" >Publicar:</label>
			<input type="checkbox" name="chkPublicadoAutos" id="chkPublicadoAutos" checked="checked" />  -->

			<p>
				<label for="chkPublicadoAutos">Publicar:</label>
				<input type="checkbox" name="chkPublicadoAutos" id="chkPublicadoAutos" checked="checked" />

			</p>

		</div>

		<div class="input-field col s12">
			<input id="fotoAuto" type="file" name="sortpic" />
			<div type="button" id="btnUpload" class="fa fa-upload"   ></div>
			<div id="fotosSubidas" ></div>
		</div>
		
		<div class="input-field col s12">
			<!-- <button id="btnGuardaAuto" attr-subastaid="0">
				Guardar
			</button> -->
			<button class="btn waves-effect waves-light" type="submit" name="action" id="btnGuardaAuto" attr-subastaid="0">GUARDAR
		    	<i class="material-icons right">send</i>
		  	</button>
		</div>

		<div id="dialog" title="Basic dialog" class="modal">
			<div class="input-field col s12">
				<label id="labelTxtDescripcion" for="txtDescripcion" >KM:</label>
				<input type="text" name="txtDescripcion" id="txtDescripcion" />
				<label id="labelMensaje"></label>
				<div id="btnGuardarCatalogo" class="fa fa-floppy-o">
					Nuevo
				</div>
				<div id="btnActualizaCatalogo" >
					Actualizar
				</div>
				<div id="btnEliminaCatalogo" >
					Eliminar
				</div>
			</div>
		</div>

	</form>
</div>