
<div id="divAdminSubastas">
    <div class="divHeaderContenidoMain">
        <div class="divRegistro">
            <label for="cmbSeccion" >Sección:</label>
            <select id="cmbSeccion" name="cmbSeccion" ></select>
            
        </div>
        <div class="divRegistro">
            <label for="txtAnchoAlto" >Lote</label>
            <input type="text" id="txtAnchoAlto" name="txtAnchoAlto" disabled/>
        </div>
        <div class="divRegistro">
            <label for="cmbTipoContenido" >Tipo de contenido:</label>
            <select id="cmbTipoContenido" name="cmbTipoContenido" >
                <option value="1">Imagen</option>
                <option value="0">Video</option>
            </select>
            
        </div>
        <div class="divRegistro">
            <label for="cmbUbicacion" >Ubicación:</label>
            <select id="cmbUbicacion" name="cmbUbicacion" >
                <option value="0">Landing / Home</option>
                <option value="1">Header</option>
            </select>
        </div>
        
        <div class="divRegistro divTxtUrl">
            <label for="txtUrl" >Lote</label>
            <input type="text" id="txtUrl" name="txtUrl" />
        </div>
        <div class="divRegistro divUploadFile">
            <input id="uploadFile" type="file" name="uploadFile" />
            <input type="hidden" id="uploadedFile" />
            <div type="button" id="btnUploadFile" class="fa fa-upload"></div>
        </div>

    </div>

    </div>
</div>
<div id="divAdminHomeContenido">
</div>