
<div id="divBotoneraAdminHome">
    <div id="bntActualizar">Actualizar Home</div>
</div>

<div id="divAdminSubastas">
    <div class="divHeaderContenidoMain">
        <div class="divRegistro">
            <label for="cmbSeccionesHome" >Sección:</label>
            <select id="cmbSeccionesHome" name="cmbSeccionesHome" ></select>
        </div>
          <div class="divRegistro">
            <label for="txtTag" >Tag:</label>
            <input id="txtTag" name="txtTag" disabled/>
        </div>
         <div class="divRegistro">
            <label class="switch">
              <input type="checkbox" name="chkestatus" id="chkestatus"/>
              <div class="slider round"></div>
            </label>
            <label for="chkestatus">Activo:</label>
        </div>
        <div class="divRegistro">
            <label for="cmbTipoContenido" >Tipo de contenido:</label>
            <select id="cmbTipoContenido" name="cmbTipoContenido" >
                <option value="1">Imagen</option>
                <option value="0">Video</option>
            </select>
            
        </div>

         <div class="divRegistro divTxtUrl">
            <label for="txtUrl" >Url:</label>
            <input id="txtUrl" name="txtUrl" />
        </div>
        <div class="divRegistro divUploadFile">
            <input id="uploadFile" type="file" name="uploadFile" />
            <input type="hidden" id="uploadedFile" />
            <div type="button" id="btnUploadHome" class="fa fa-upload"></div>
        </div>
        <div class="divRegistro">
            <label for="cmbUbicacion" >Ubicación:</label>
            <select id="cmbUbicacion" name="cmbUbicacion" >
                <option value="0">Landing / Home</option>
                <option value="1">Solo Home</option>
                <option value="2">Solo Landing</option>
            </select>
        </div>
        <div class="divRegistro">
            <label for="txtAncho" >Ancho:</label>
            <input id="txtAncho" name="txtAncho" disabled/>
        </div>
        <div class="divRegistro">
            <label for="txtAlto" >Alto:</label>
            <input id="txtAlto" name="txtAlto" disabled/>
        </div>
        <div class="divRegistro">
            <label class="switch">
              <input type="checkbox" name="chkeslink" id="chkeslink" />
              <div class="slider round"></div>
            </label>
            <label for="chkeslink">Es Link</label>
        </div>
        <div class="divRegistro" id="divLink">
            <label for="txtlink" >Link:</label>
            <input id="txtlink" name="txtlink" />
        </div>

        <div id="btnGuardar">
            Guardar
        </div>

    </div>

    </div>
</div>
<div id="divAdminHomeContenido">
</div>