<h2>Resultados por Subasta</h2>
<table id="tblResultadosSubastas" class="responsive-table striped">
	<thead>
		<tr>
			<th>Nombre</th>
			<th class='center-align'>Fecha Inicio</th>
			<th class='center-align'>Fecha Fin</th>
			<th class='center-align'>Estatus</th>
			<th class='center-align'>Tipo de subasta</th>
			<th class='center-align'>Total participantes</th>
			<th class='center-align'>Total autos</th>
			<th class='center-align'>Total pujas</th>
			<th class='center-align'>Resultados</th>
		</tr>
	</thead>
	<tbody></tbody>
</table>