<div id="botoneraContainer" class="row">

	<div id="divListaBotonera" class="valign-wrapper">
		<div class="divItemBotonera col s2">
			<a id="btnAgregarSubasta" class="btn waves-effect waves-light cyan white-text" titlee="Agregar Subasta"><i class="material-icons">add</i></a>
		</div>
		<div class="divItemBotonera col s4">

			<div class="input-field col s12">
				<select id="cmbEmpresasFiltro" name="cmbEmpresasFiltro"></select>
				<label for="cmbEmpresasFiltro" >Empresas</label>
			</div>

		</div>
		<div class="divItemBotonera col s4">
			<div class="input-field col s12">
				<select>
					<option value="-1" disabled selected> == Todas ==</option>
					<option value="-1"> == Todas ==</option>
					<option value="0">No publicadas</option>
					<option value="1">Publicadas</option>
				</select>
				<label>Estatus de publicación:</label>
			</div>

		</div>
		<div class="divItemBotonera col s2">

			<a id="btnFiltrar" class="waves-effect waves-light btn"><i class="material-icons left">search</i>Filtrar</a>
		</div>

	</div>

</div>
<div id="divAdminSubastas" class="row">

	<!-- Modal Structure -->
	<div class="modal modal-fixed-footer divHeaderContenido">
		<div class="modal-content">

			<div class="row">
				<div class="col s12">
					Lote:
					<div class="input-field inline">
						<input id="lote" type="text" class="validate">
						<label for="lote" data-error="wrong" data-success="right">#Lote</label>
					</div>
				</div>
				<div class="col s12">
					Fecha Inicio:
					<div class="input-field inline">
						<input type="text" id="txtFechaInicio" name="txtFechaInicio" />
						<label for="txtFechaInicio" >Fecha inicio:</label>
					</div>
				</div>
				<div class="col s12">
					Fecha Fin:
					<div class="input-field inline">
						<input type="text" id="txtFechaFin" name="txtFechaFin" />
						<label for="txtFechaInicio" >Fecha inicio:</label>
					</div>
				</div>
				<div id="divTipoSubastas" class="col s12">
					<label>Tipo de Subasta:</label>
				</div>
				<div class="col s12">
					Incremento: <b>$</b>
					<div class="input-field inline">
						<input type="number" id="txtIncremento" name="txtIncremento" />
					</div>
				</div>
				<div class="col s12">
					Empresas:
					<div class="input-field inline">
						<select id="cmbEmpresas" name="cmbEmpresas" ></select>
					</div>
					<a id="btnNuevaEmpresa" class="btn-floating btn-large waves-effect waves-light blue"><i class="material-icons">add</i></a>
					<a id="btnAgregaEmpresa" class="btn-floating btn-large waves-effect waves-light teal"><i class="material-icons">done</i></a>
				</div>
				<div class="col s12">
					<div class="divRegistro" id="lstEmpresa"></div>
				</div>
			</div>

		</div>
		<div class="modal-footer">
			<a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Cancelar</a>
		</div>
	</div>

	<div id="divListaSubastas">

	</div>
	<div id="divListaContenido"class="row"></div>
	<div id="divAdministraUsuarios" class="modal modal-fixed-footer">

		<div class="modal-content divRegistro">
			<input id="listausuarios" type="file" name="listausuarios" />
			<div type="button" id="btnUploadUserList" class="fa fa-upload"   ></div>
			<div id="listaUsuariosSubidos" ></div>
		</div>
		<div class="modal-footer">
			<a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Cancelar</a>
		</div>
	</div>
	
	<div id="divListaUsuariosModal" class="modal modal-fixed-footer">
		<div id="divListaUsuariosTtl"></div>
		<div id="divListaUsuariosTbl"></div>
	</div>

	<div id="modalEmpresa" class="modal">
		<div class="modal-content">
			<label for="txtNombreEmpresa" >Empresa:</label>
			<input type="text" id="txtNombreEmpresa" name="txtNombreEmpresa" />
			<label id="labelMsjEmpresa"></label>
		</div>
		<div class="modal-footer">
			<a id="btnGuardaEmpresa" href="#!" class="modal-action modal-close waves-effect waves-green btn-flat"><i class="material-icons">add</i></a>
			<a id="btnEliminaEmpresa" href="#!" class="modal-action modal-close waves-effect waves-green btn-flat"><i class="material-icons">clear</i></a>

		</div>
	</div>

</div>

<div id="divRegistroAutos" class="divContenido modal modal-fixed-footer">
	<div class="modal-header">
		<a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat right"><i class="material-icons">close</i></a>
	</div>
	<div  class="modal-content">
		Registro Autos
		<div id="divListaAutos">

		</div>
	</div>
	

</div>

