<img src="images/banner970x90.png" class="banner970x90"/>
<div class="menuLeftMain">
    <div class="mainFiltros">
        <h3>Filtros</h3>
        <div>
            <label>Marca</label>
            <select>
                <option value="volvo">Volvo</option>
                <option value="saab">Saab</option>
                <option value="mercedes">Mercedes</option>
                <option value="audi">Audi</option>
            </select>
        </div>
        <div>
            <label>Modelo</label>
            <select>
                <option value="volvo">Volvo</option>
                <option value="saab">Saab</option>
                <option value="mercedes">Mercedes</option>
                <option value="audi">Audi</option>
            </select>
        </div>
        <div>
            <label>Año</label>
            <select>
                <option value="volvo">Volvo</option>
                <option value="saab">Saab</option>
                <option value="mercedes">Mercedes</option>
                <option value="audi">Audi</option>
            </select>
        </div>
        <div>
            <label>Precio Minimo:</label>
            <input type="text" placeholder="$"/>
        </div>
        <div>
            <label>Precio Maximo:</label>
            <input type="text" placeholder="$"/>
        </div>
        <div>
            <input type="checkbox" />
            <label>TODOS</label>
        </div>
        <div>
            <input type="checkbox" />
            <label>DEPORTIVO</label>
        </div>
        <div>
            <input type="checkbox" />
            <label>HATCKBACK</label>
        </div>
        <div>
            <input type="checkbox" />
            <label>MINIVAN</label>
        </div>
        <div>
            <input type="checkbox" />
            <label>PICKUP</label>
        </div>
        <div>
            <input type="checkbox" />
            <label>SEDAN</label>
        </div>
        <div>
            <input type="checkbox" />
            <label>SUV</label>
        </div>
        <div>
            <input type="checkbox" />
            <label>VAGONETA</label>
        </div>
    </div>
    <img class="banner300x250" src="images/banner300x250.png">
</div>
<div id="divBusqueda">
    <div id="searchBar">
        <input type="text" id="searchBox" />
        <div class="btnSearch">
            <i class="fa fa-search" aria-hidden="true"></i>
        </div>
    </div>
    <div id="searchBody">

    </div>
</div>
<div id="divServicios">

    <div id="divForInfo">
        <h2>Tu Informaci&oacute;n:</h2>
        <div>
            <div>
                Terminacion de tu placa:
            </div>
            <label></label>
            <div class="colorPlaca"></div>
            <h4>:</h4>
            <h5></h5>
        </div>
    </div>
    <div id="divOffers">
        <img src="images/participarSubastas.jpg"/>
    </div>
</div>