<div class="cnfgSubastaContainer row">
    <form class="col s12">
	    <div class="input-field col s12">
	        <label for="desc">DESCRIPCION:</label>
	        <input id="desc" type="text" class="validate" name="desc">
	    </div>
	    <div class="rango col s6">
	    	<div class="input-field col s6">
		        <label for="txtPrecioIni">PRECIO DE:</label>
		        <input type="text" name="txtPrecioIni">
	        </div>
	        <div class="input-field col s6">
		        <label class="A" for="txtPrecioFin">A:</label>
		        <input type="text" name="txtPrecioFin">
	        </div>
	    </div>
	    <div class="rango col s6">
	        <div class="input-field col s6">
		        <label for="txtKmIni">KILOMETROS DE:</label>
		        <input type="text" name="txtKmIni">
	        </div>
	        <div class="input-field col s6">
		        <label class="A" for="txtKmFin">A:</label>
		        <input type="text" name="txtKmFin">
	        </div>
	    </div>
	    <div class="input-field col s3">
	        <select id="cmbEstados" name="cmbEstados"></select>
	        
	    </div>
	    <div class="input-field col s3">
	        <select id="cmbMarcas" name="cmbMarcas"></select>
	        
	    </div>
	    <div class="input-field col s2">
	        <select id="cmbModelos" name="cmbModelos"></select>
	        
	    </div>
	    <div class="input-field col s2">
	        <select id="cmbAnio" name="cmbAnio"></select>	        
	    </div>
	    <div class="btnContainer input-field col s2">
	        <button type="button" class="btnBuscar btn waves-effect waves-light right light-blue lighten-1" type="submit" onclick="cargaVehiculos()">
	            Buscar
	            <i class="material-icons right">search</i>
	        </button>
	    </div>
	</form>
</div>


<div id="grdVehiculos">
    <div class="rHeader">
        <div></div>
        <div>AUTOS</div>
        <div>UBICACI&Oacute;N</div>
        <div>KIL&Oacute;METROS</div>
        <div>FOTOS</div>
        <div>PRECIO</div>
        <div></div>
    </div>
</div>