<div class="subastasDestacadasMain">
	<div class="subastasDestacadasLarge">
		<img class="contenedorImagenPrinSubasta" src="images/imgInx001.jpg" />
		<!-- <div class="modelo">Ecosport 2016</div>
		<div class="pujaInicial">PRECIO DE INICIO $150,000 MX</div>
		<div class="descripcipnSubasta">
			<div class="fechaSubasta">15 de Junio</div>
			<div class="tipoSubasta">SUBASTA DINÁMICA</div>
		</div> -->
		
	</div>
	<div class="subastasDestacadasSmallLote">
		<img class="contenedorImagenPrinSubasta" src="images/imgInx002.jpg" />
		<!-- <div class="tituloSubasta"><p>SUBASTA BIMBO</p></div>
		<div class="loteSubasta">LOTE 12</div>
		<div class="modelo"><p>Ford Transit Van</p></div>
		<div class="descripcion"><p>Capacidad de carga 1,777 kg<p></div>
		<div class="verDetalle">VER DETALLE</div> -->
		
	</div>
	<div class="subastasDestacadasSmallAnuncio">
		<img class="contenedorImagenPrinSubasta" src="images/imgInx003.jpg" />
		<!-- <div class="tituloSubasta"><p>SUBASTA ABIERTA</p></div>
		<div class="fechaSubasta">HASTA EL 10 de JUNIO</div>
		<div class="loteSubasta">LOTE 22</div>
	    <div class="verDetalle">VER DETALLE</div> -->
	</div>
	<div>
	    <label>PROXIMAS SUBASTAS</label>
	    <img src="images/calendarioSubastas.jpg" />
	</div>
	<div>
	    <img src="images/catalogoEnlinea.jpg"/>
	</div>
	<div>
	    <img src="images/participarSubastas.jpg" />
	</div>
</div>