.menuitem:hover{
	cursor:pointer;
	font-weight: bold;
}

.submenuitem:hover{
	cursor:pointer;
	font-weight: bold;
}
.divRegistro{

	display: block !important;
	width: 100%; 
	padding-top: 20px;
}
.divRegistro > input{

	left: 200px;
	position: absolute;
}

