.mainBody > .subastasDestacadasMain 
{
	display: block;
	width: 100%;
	float: left;

}

.mainBody > .subastasDestacadasMain > .subastasDestacadasLarge{

	display: block;
	height:auto;
	width: 50%;
	float: left;
}

.mainBody > .subastasDestacadasMain > .subastasDestacadasSmallLote,
.mainBody > .subastasDestacadasMain > .subastasDestacadasSmallAnuncio
{
	display: block;
	height: auto;
	width: 50%;
	float: left;
	background-size:contain;
}

.mainBody > .subastasDestacadasMain > .subastasDestacadasLarge > div,
.mainBody > .subastasDestacadasMain > .subastasDestacadasSmallLote > div,
.mainBody > .subastasDestacadasMain > .subastasDestacadasSmallAnuncio > div,
.mainBody > .subastasDestacadasMain > .subastasDestacadasSmallAnuncio > div > div
{
	width: 100%;
	float: left;
}
.mainBody > .subastasDestacadasMain > .subastasDestacadasSmallLote > div > p,
.mainBody > .subastasDestacadasMain > .subastasDestacadasSmallAnuncio > div > p

{
	width: 20%;
	float: left;
}


.mainBody > .subastasDestacadasMain > .subastasDestacadasLarge > .contenedorImagenPrinSubasta
{
	position: relative;
	left: 0;
	top: 0;
	width: 100%;

}
.mainBody > .subastasDestacadasMain > .subastasDestacadasSmallLote > .contenedorImagenPrinSubasta,
.mainBody > .subastasDestacadasMain > .subastasDestacadasSmallAnuncio > .contenedorImagenPrinSubasta
{

	position: relative;
	left: 0;
	top: 0;
	width: 100%;

}