.menuitem:hover{
	cursor:pointer;
	font-weight: bold;
}

.submenuitem:hover{
	cursor:pointer;
	font-weight: bold;
}
.divRegistro{

	display: block;
	width: 100%; 
	padding-top: 20px;
	height:40px;
}
#divPreferencias > .divRegistro{

	display: block;
	width: 100%; 
	padding-top: 20px;
	height:40px;
	padding-left: 40px;
}
.divRegistro > input{

	left: 280px;
	position: absolute;
	padding-left: 

}
.divRegistro > select {
		left: 130px;
	position: relative;

}
.divError{
	color: red;
	border-color: red;
	height: 80px;
}
.divErrorPassword{
	
	color: red;
	

}
#registroEULA{
	left: 370px;
}
.button {
  display: inline-block;
  padding: 8px 25px;
  font-size: 12px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #2ca5b6;
  border: none;
  border-radius: 10px;
  box-shadow: 1 4px #999;
}

.button:hover {background-color: #0a5e6a}

.button:active {
  background-color: #0a5e6a;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}